.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    background-color:#F9F5F6;

    .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .rightSection {
        display: flex;
        gap: 20px;
        align-items: flex-start;

        .close {
            border: none;
            background: none;
            color: white;
            background: red;
            padding: 10px 15px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}

@media (min-width: 760px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin-bottom: 0px;
    }
}